/* Stili CSS per CV */

body {
    background-color: rgba(74, 10, 143, 0.283); /* Sfondo leggero per il corpo del documento */
}

.left-container {
    background-color: rgba(74, 10, 143, 0.858); /* Sfondo scuro per la colonna di sinistra */
    color: white; /* Testo chiaro per contrasto */
    padding: 30px; /* Spaziatura interna */
}

.right-container {
    padding: 30px;
}

.profile-img {
    width: 150px;
    margin: 20px auto;
    border: 5px solid white; /* Bordo bianco intorno alla foto del profilo */
}

p {
    font-size: 1.1em; /* Ingrandimento del testo per i paragrafi */
}

h6 {
    font-size: 1.2em; /* Ingrandimento del testo per gli h6 */
}

/* Centrare il testo nelle sezioni Formazione e Lingue */
.left-container .education, 
.left-container .languages {
    text-align: center;
}

/* Aumentare la spaziatura tra le sezioni nel container di destra */
.right-container .work-experience,
.right-container .skills {
    margin-bottom: 50px;
}

/* Media queries per la responsività */
@media (max-width: 767px) {
    .left-container,
    .right-container {
        padding: 15px; /* Spaziatura interna ridotta per dispositivi mobili */
    }

    .profile-img {
        width: 120px; /* Riduci le dimensioni dell'immagine per schermi più piccoli */
    }
}
